body{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: gray;

}
#container1{
  border:1px solid black;
  margin: 0 auto;  
  padding: 1em;
  text-align: left;
  width: 70%;

}
#container1 h1{
  font-size: 20px;
  color: blue;
}
#cabecera{
  
  box-shadow: 5px 5px 5px black;
  font-size: 25px;
  color:cyan;
  background-color: blue;;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  

}